In [58]:
import pandas as pd
from metapub import PubMedFetcher

In [59]:
keyword = input("Enter the keyword: ")
num_of_articles = int(input("Enter the number of articles: "))

Enter the keyword: fever
Enter the number of articles: 2

In [60]:
fetch = PubMedFetcher()
ids = fetch.pmids_for_query(keyword, retmax=num_of_articles)

In [61]:
details = {}

for pmid in ids:
    article = fetch.article_by_pmid(pmid)
    details[pmid] = {
        "author": ", ".join(article.authors),
        "year": article.year,
        "abstract": article.abstract,
        "url": article.url,
    }

In [62]:
print(details)

{'38258285': {'author': 'Ding W, Gong C, Meng T, Xiang X, Hong B, Shen S, Ding S', 'year': '2024', 'abstract': 'Severe fever with thrombocytopenia syndrome (SFTS), an emerging infectious disease with a high fatality rate. Cardiac injury in SFTS patients is a major concern. This study aimed to evaluate the prevalence of cardiac injury and its association with mortality in hospitalized patients infected with novel Bunyavirus. Cardiac injury was defined as the presence of any of the following abnormalities: (1) blood levels of cardiac biomarkers (creatine kinase-MB, troponin-I, B-type natriuretic peptide or N-terminal pro-B-type natriuretic peptide); (2) new abnormalities in electrocardiography. The 203 SFTS patients were included in the final analysis. The proportion of SFTS patients developing cardiac injury during hospitalization was 71.4% (145/203). Compared with the uninjured group, the cardiac injury group had the severity of cardiac injury was underscored by higher median hospital costs (31420 vs. 12911, p\u2009<\u20090.001), higher proportion of intensive care units admissions (13.1% vs. 3.4%, p\u2009=\u20090.041), and higher hospital mortality rate (33.8% vs. 6.9%, p\u2009<\u20090.001). Multivariable-adjusted Cox proportional hazards regression analysis showed that cardiac injury was associated with higher mortality during hospitalization (hazards ratio, 7.349; 95% CI: 2.352-22.960). Cardiac injury is common among hospitalized SFTS patients, and it is associated with higher risk of mortality.', 'url': 'https://ncbi.nlm.nih.gov/pubmed/38258285'}, '38257945': {'author': 'Mori G, Diotallevi S, Farina F, Lolatto R, Galli L, Chiurlo M, Acerbis A, Xue E, Clerici D, Mastaglio S, Lupo Stanghellini MT, Ripa M, Corti C, Peccatori J, Puoti M, Bernardi M, Castagna A, Ciceri F, Greco R, Oltolini C', 'year': '2024', 'abstract': 'Invasive fungal diseases (IFDs) still represent a relevant cause of mortality in patients affected by hematological malignancies, especially acute myeloid leukaemia (AML) and myelodysplastic syndrome (MDS) undergoing remission induction chemotherapy, and in allogeneic hematopoietic stem cell transplantation (allo-HSCT) recipients. Mold-active antifungal prophylaxis (MAP) has been established as a standard of care. However, breakthrough IFDs (b-IFDs) have emerged as a significant issue, particularly invasive aspergillosis and non-', 'url': 'https://ncbi.nlm.nih.gov/pubmed/38257945'}}

In [42]:
dir(articles.content)

['__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_init',
 'addnext',
 'addprevious',
 'append',
 'attrib',
 'base',
 'clear',
 'cssselect',
 'extend',
 'find',
 'findall',
 'findtext',
 'get',
 'getchildren',
 'getiterator',
 'getnext',
 'getparent',
 'getprevious',
 'getroottree',
 'index',
 'insert',
 'items',
 'iter',
 'iterancestors',
 'iterchildren',
 'iterdescendants',
 'iterfind',
 'itersiblings',
 'itertext',
 'keys',
 'makeelement',
 'nsmap',
 'prefix',
 'remove',
 'replace',
 'set',
 'sourceline',
 'tag',
 'tail',
 'text',
 'values',
 'xpath']

In [38]:
print(articles.book_title)
print("_"*50)
print(articles.title)

None
__________________________________________________
Rickettsia conorii subsp. israelensis infection in a pediatric patient presenting skin rash and abdominal pain: a case report from Southeast Iran.

In [ ]:
from metapub import PubMedFetcher
fetch = PubMedFetcher()

# get the  PMID for first 3 articles with keyword sepsis
pmids = fetch.pmids_for_query(keyword, retmax=num_of_articles)

# get  articles
articles = {}
for pmid in pmids:
    articles[pmid] = fetch.article_by_pmid(pmid)

In [27]:
for func in dir(fetch):
#     if func[0] != "_":
    if func.startswith("_") == False:
        print(func)

article_by_doi
article_by_pmcid
article_by_pmid
method
pmid_for_bookID
pmids_for_citation
pmids_for_clinical_query
pmids_for_medical_genetics_query
pmids_for_query
qs
related_pmids

In [8]:
# get title for each article:
titles = {}
for pmid in pmids:
    titles[pmid] = fetch.article_by_pmid(pmid).title
Title = pd.DataFrame(list(titles.items()),columns = ['pmid','Title'])
Title

       pmid                                              Title
0  38254000  Rickettsia conorii subsp. israelensis infectio...
1  38253924  Risk, Predictive, and Preventive Factors for N...
2  38253779  Phenotype of Takayasu-like vasculitis and card...

In [9]:
abstracts = {}
for pmid in pmids:
    abstracts[pmid] = fetch.article_by_pmid(pmid).abstract
Abstract = pd.DataFrame(list(abstracts.items()),columns = ['pmid','Abstract'])
Abstract

       pmid                                           Abstract
0  38254000  BACKGROUND: The healthcare system in Iran appe...
1  38253924  BACKGROUND: External ventricular drain (EVD) i...
2  38253779  OBJECTIVES: We aimed to determine the prevalen...

In [10]:
authors = {}
for pmid in pmids:
    authors[pmid] = fetch.article_by_pmid(pmid).authors
Author = pd.DataFrame(list(authors.items()),columns = ['pmid','Author'])
Author

       pmid                                             Author
0  38254000  [Hosseininasab A, MoradKasani S, Mostafavi E, ...
1  38253924  [Huang TF, Su YK, Su IC, Yeh YK, Liu HW, Kan I...
2  38253779  [Zhong L, Wang W, Tang X, Zhang Y, Gou L, Wang...

In [11]:
years = {}
for pmid in pmids:
    years[pmid] = fetch.article_by_pmid(pmid).year
Year = pd.DataFrame(list(years.items()),columns = ['pmid','Year'])
Year

       pmid  Year
0  38254000  2024
1  38253924  2024
2  38253779  2024

In [12]:
volumes = {}
for pmid in pmids:
    volumes[pmid] = fetch.article_by_pmid(pmid).volume
Volume = pd.DataFrame(list(volumes.items()),columns = ['pmid','Volume'])
Volume

       pmid Volume
0  38254000     24
1  38253924   None
2  38253779   None

In [13]:
issues = {}
for pmid in pmids:
    issues[pmid] = fetch.article_by_pmid(pmid).issue
Issue = pd.DataFrame(list(issues.items()),columns = ['pmid','Issue'])
Issue

       pmid Issue
0  38254000     1
1  38253924  None
2  38253779  None

In [14]:
journals = {}
for pmid in pmids:
    journals[pmid] = fetch.article_by_pmid(pmid).journal
Journal = pd.DataFrame(list(journals.items()),columns = ['pmid','Journal'])
Journal

       pmid         Journal
0  38254000  BMC Infect Dis
1  38253924  Neurocrit Care
2  38253779  Clin Rheumatol

In [15]:
citations = {}
for pmid in pmids:
    citations[pmid] = fetch.article_by_pmid(pmid).citation
Citation = pd.DataFrame(list(citations.items()),columns = ['pmid','Citation'])
Citation

       pmid                                           Citation
0  38254000  Hosseininasab A, et al. Rickettsia conorii sub...
1  38253924  Huang TF, et al. Risk, Predictive, and Prevent...
2  38253779  Zhong L, et al. Phenotype of Takayasu-like vas...

In [16]:
links={}
for pmid in pmids:
    links[pmid] = "https://pubmed.ncbi.nlm.nih.gov/"+pmid+"/"
Link = pd.DataFrame(list(links.items()),columns = ['pmid','Link'])
Link

       pmid                                       Link
0  38254000  https://pubmed.ncbi.nlm.nih.gov/38254000/
1  38253924  https://pubmed.ncbi.nlm.nih.gov/38253924/
2  38253779  https://pubmed.ncbi.nlm.nih.gov/38253779/

In [17]:
data_frames = [Title,Abstract,Author,Year,Issue,Journal,Link]
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['pmid'],
                                            how='outer'), data_frames)
df_merged

,pmid,Title,Abstract,Author,Year,Issue,Journal,Link
0,38254000,Rickettsia conorii subsp. israelensis infectio...,BACKGROUND: The healthcare system in Iran appe...,"[Hosseininasab A, MoradKasani S, Mostafavi E, ...",2024,1,BMC Infect Dis,https://pubmed.ncbi.nlm.nih.gov/38254000/
1,38253924,"Risk, Predictive, and Preventive Factors for N...",BACKGROUND: External ventricular drain (EVD) i...,"[Huang TF, Su YK, Su IC, Yeh YK, Liu HW, Kan I...",2024,None,Neurocrit Care,https://pubmed.ncbi.nlm.nih.gov/38253924/
2,38253779,Phenotype of Takayasu-like vasculitis and card...,OBJECTIVES: We aimed to determine the prevalen...,"[Zhong L, Wang W, Tang X, Zhang Y, Gou L, Wang...",2024,None,Clin Rheumatol,https://pubmed.ncbi.nlm.nih.gov/38253779/

In [ ]:
# df_merged.to_csv('pubmed_articles.csv')